.container{
  background-color: #818181;
}
h1,h3{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 4em;
}
li,p{

    font-family: 'B612', sans-serif;
    font-size: 1.5em;
    color: black;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
     padding: 1%;
    text-decoration: none;
    color:black;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    border-right: 40px;
    width: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20%; 
  }
img{
  display: inline-flex;
  flex-direction: row;
  padding: 5%; 
  border-radius: 20%;
}
.show1{
  display: none;
}
.show2{
  display: none;
}
* {
  box-sizing: border-box;
}
.column {
  float: left;
  width: 33%;
  padding: 0 10px;
}

.row {margin: 0 -5px;
  z-index: 2;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
.row1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 40px;
  text-align: center;
  background-color:#F5A9A9;
}
.row2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 40px;
  text-align: center;
  background-color: #f1f1f1;
}
.row3 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 40px;
  text-align: center;
  background-color: #A9F5A9;
}
